        {{> searchbar}} 
        
        <div class="page">
            <div class="entries">
                <form id="list" action="/liste" method="post">
                    {{#each results}}    
                        <div data-id="2" class="entry">
                            <div class="controls">
                            {{#if isInList}}
                                <button name="remove" value="{{getId}}">Fjern</button>
                            {{else}}
                                <button name="add"    value="{{getId}}">Legg til</button>
                            {{/if}}
                            </div>

                            <div class="meta">
                                <h2 class="title">{{getId}} - {{getTitle}}</h2>

                                {{#if getPublisher}} Forlag: {{getPublisher}} {{/if}}
                                {{#if getPublicationPlace}} Sted: {{getPublicationPlace}} {{/if}}
                                {{#if getPublicationYear}} Utgitt: {{getPublicationYear}} {{/if}}
                                {{#if getEdition}} Utgave: {{getEdition}} {{/if}}

                                <p>
                                    {{#each getAuthors}}
                                        {{getForename}} {{getSurname}}, 
                                    {{/each}}
                                </p>
                            </div>
                        </div>
                    {{/each}}
                </form>
            </div>
        </div>
        <script type="text/javascript" src="/js/results.js"></script>
