        {{> searchbar}} 
        
        <div class="page">

            <div class="entries">

                {{#each results}}    
                    <div class="entry">
                        
                        <div class="controls">
                            <span class="add ion-android-add-circle"></span> 
                        </div>

                        <div class="meta">
                            <h2 class="title">{{getTitle}}</h2>

                            {{#if getPublisher}} Forlag: {{getPublisher}} {{/if}}
                            {{#if getPublicationPlace}} Sted: {{getPublicationPlace}} {{/if}}
                            {{#if getPublicationYear}} Utgitt: {{getPublicationYear}} {{/if}}
                            {{#if getEdition}} Utgave: {{getEdition}} {{/if}}

                            <p>
                                {{#each getAuthors}}
                                    {{getForename}} {{getSurname}}, 
                                {{/each}}
                            </p>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="bibliography">

            </div>
        </div>
